<header>
    <nav>
        <ul>
            <li><a href="/">Página principal</a></li>
            <li><a href="/pastor">Pastor Alemán</a></li>
            <li><a href="/golden">Golden Retriever</a></li>
            <li><a href="/pequines">Pequines</a></li>
        </ul>
    </nav>
</header>
