<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever</title>
    <link rel="stylesheet" href="/css/stylesg.css">
</head>
<body>
    {{> header}}

    <main class="main-content">
        <section class="section-content">
            <h1>Descripción Golden Retriever</h1>
            <div class="golden">
                <p>
                    Una descripción del perro ideal de cada raza reconocida, para servir como un ideal contra el cual los perros son juzgados en espectáculos,
                    originalmente establecidos por un club de raza madre y aceptados oficialmente por organismos nacionales o internacionales.
                </p>
                <img src="https://t1.uc.ltmcdn.com/es/posts/8/3/9/como_saber_si_un_cachorro_de_golden_retriever_es_puro_50938_3_600.jpg" alt="Golden Retriever">
            </div>
        </section>
    </main>

    {{> footer}}
</body>
</html>
