<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Alemán</title>
    <link rel="stylesheet" href="/css/stylesp.css">
</head>
<body>
    {{> header}}

    <main class="main-content">
        <section class="section-content">
            <h1>Descripción Pastor Alemán</h1>
            <div class="pastor">
                <p>
                    El Pastor alemán, siempre en boga, listo y fácil de adiestrar, es bastante activo y
                    disfruta cuando tiene algo que hacer. Por ello, necesitan realizar gran cantidad de ejercicio a diario; de lo contrario, se vuelven nerviosos o muy excitables.
                </p>
                <img src="https://nfnatcane.es/blog/wp-content/uploads/2019/08/cachorrito-de-pastor-alem%C3%A1n2.jpg" alt="Pastor Alemán">
            </div>
        </section>
    </main>

    {{> footer}}
</body>
</html>
