<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequinés</title>
    <link rel="stylesheet" href="/css/stylespe.css">
</head>
<body>
    {{> header}}

    <main class="main-content">
        <section class="section-content">
            <h1>Descripción Pequinés</h1>
            <div class="pequines">
                <p>
                    El pekinés es una de las razas más demandadas del mundo por su tamaño reducido, apto para entornos urbanos.
                </p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuG69n5JpLpBGc6eqJopRL5ZkVoZAW8u8mlg&s" alt="Pequinés">
            </div>
        </section>
    </main>

    {{> footer}}
</body>
</html>
